force-app/main/default/flows/PLM_LDCT_Create_LDCT_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_language</name>
        <label>Set language</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lang</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetLang</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_EN</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>SetLang</name>
        <dataType>String</dataType>
        <expression>IF({!English.renderNext}==true, &apos;EN&apos;, &apos;FR&apos;)</expression>
    </formulas>
    <interviewLabel>PLM - LDCT - Create LDCT Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PLM - LDCT - Create LDCT Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Selected_record</name>
        <label>Get Selected record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Language</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LDCT_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_EN</name>
        <label>Update Record EN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>Lang</elementReference>
            </value>
        </inputAssignments>
        <object>LDCT_Project__c</object>
    </recordUpdates>
    <screens>
        <name>Select_Language</name>
        <label>Select Language</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>set_language</targetReference>
        </connector>
        <fields>
            <name>en_description</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(142, 10, 182); font-size: 16px;&quot;&gt;&lt;em&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please choose your preferred language for entering data.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>fr_description</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(142, 10, 182);&quot;&gt;&lt;em&gt;﻿&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(142, 10, 182); font-size: 16px;&quot;&gt;&lt;em&gt;Veuillez choisir votre langue préférée pour saisir des données.&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;color: rgb(138, 0, 173);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>English</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>English</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>French</name>
            <extensionName>runtime_industries_lending:flowButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>renderNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>French</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Selected_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Lang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ldctRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
